body {
  background: #fff;
  color: #363636;
}

.header h2 {
  text-align: center;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
}

.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}

.header h2 {
  font-weight: 300;
  color: #888;
  padding: 0;
  margin-top: 0;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}

/* ==================================================================
    TOP NAVIGATION BAR
================================================================== */

#topnav {
  background: #2c3e50;
  width: 100%;
  z-index: 1000;
}

#topnav .pure-menu-link {
  color: #999;
  padding: 0.6em 1.2em;
}

#topnav .pure-menu-link:hover,
#topnav .pure-menu-link:focus {
  background: #3d566e;
}

#topnav .pure-menu-selected .pure-menu-link {
  color: #fff;
}

#topnav .pure-menu-selected {
  background: #1f8dd6;
}
